<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Request Header Parser Microservice</title>
        <link href="https://fonts.googleapis.com/css?family=Cormorant+Garamond" rel="stylesheet">
        <link rel="stylesheet" href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css'>
        <link rel="stylesheet" type="text/css" href="stylesheet/index.css">
    </head>
    <body>
        <center>
        <h3>File Metadata Microservice</h3>
        <h5>Submit a file and get its info!</h5>

        <form action="/addfile" method="POST" enctype="multipart/form-data">
          <label class="inputBtn" for="file">Upload a file here and submit </label>
            <input id='file' type="file" name="inputfile" placeholder="name">
            <button>submit</button>
        </form>
        </center>
    </body>
 </html>
